body {
  background-color: rgb(113, 0, 205);
  overflow: hidden;
}

html, body {touch-action: none;}

/* disable selection to user can freely draw with touch or drag with a cursor */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* threejs full screen */
#threejs-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}